.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px minmax(200px, 1fr);
    grid-template-areas:
                "m"
                "d";
    grid-area: content;
}

.content img {
    width: 500px;
}

.mainImgInContent {
    grid-area: m;

}

.mainImgInContent img {
    width: 100%;
    height: 100%;

}

.workingArea {
    grid-area: d;
    margin-left: 10px;
    margin-bottom: 10px;
}