
.ava{
    width: 40px;
    height: 40px;
    border-radius: 15px;
}

.dialog{
    padding-bottom: 5px;
}

.dialog a{
    padding-bottom: 5px;
    text-decoration: none;
    font-weight: bold;
}

.active {
    font-size: 22px;
    color: #a2025a;
}

.dialog a span:hover {
    color: black;
    text-decoration: none;
}

