.app-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
                "header header"
                "nav content";
    grid-gap: 5px;
    margin: 0 auto;
    width: 1200px;
}

header {
    position: relative;
    grid-area: header;
    background: cornflowerblue;
}

header span {
    position: absolute;
    top: 15px;
    left: 30%;
    font-family: Arial;
    font-size: 53px;
    letter-spacing: 7px;
}

nav {
    padding: 15px;
    grid-area: nav;
    background: rosybrown;
}

.content {
    grid-area: content;
    background: darksalmon;
}

.content img {
    width: 500px;
}

.logo {
    position: absolute;
    top: 30%;
    left: 1%;
    width: 90px;
    border-radius: 60%;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px minmax(200px, 1fr);
    grid-template-areas:
                "m"
                "d";
}

.mainImgInContent {
    grid-area: m;

}

.mainImgInContent img {
    width: 100%;
    height: 100%;

}

.workingArea {
    grid-area: d;
}