.dialogWrapper{
    display: grid;
    grid-template-areas: "p d";
    grid-template-columns: 2fr 10fr;
    margin: 20px;
}

.toldPerson {
    grid-area: p;
    padding-bottom: 5px;
}

s.dialogs{
    grid-area: d;
}