.dialogs {
    display: grid;
    grid-template-areas: "p d";
    grid-template-columns: 2fr 10fr;
    margin: 20px;
}

.dialogsItems {
    border-right: 2px solid black;
}

.dialog {

    grid-area: p;
}

.messages {
    grid-area: d;
    margin-left: 20px;
}

